/* ############################################################################## */
/* ###############               Fonts Possibles                  ############### */
/* ############################################################################## */

@font-face {
    font-family: "Trispace";
    src: url("../font/Trispace-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Dosis";
    src: url("../font/Dosis/Dosis-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat/Montserrat-VariableFont_wght.ttf");
}

/* ############################################################################## */
/* ###############              Couleurs du site                  ############### */
/* ############################################################################## */

:root {
    --bgDark: #25272d;
    --bgLight: #e1dfdb;
    --fontDark: #e1dfdb;
    --fontLight: #25272d;
}

/* ############################################################################## */
/* ###############                  Globales                      ############### */
/* ############################################################################## */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
    background-color: var(--bgDark);
    overflow-x: hidden;
    color: var(--fontDark);
}

/* ############################################################################## */
/* ############### Mise en page de base, margin, padding des blocs ############## */
/* ############################################################################## */

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
}

p {
    margin: 2rem 1rem;
    font-size: 1rem;
}


h2 {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    margin-left: 1rem;
}

h3 {
    margin: 2rem 0 -0.5rem 1rem;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

/* ############################################################################## */
/* ###############                  Keyframes                     ############### */
/* ############################################################################## */

@keyframes titleAnim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes toggleAnim {
    0% {
        transform: translateX(50vh);
        opacity: 0;
    }
    50% {
        transform: translateX(25vh);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes navAnim {
    0% {
        transform: translateY(-50vh);
        opacity: 0;
    }
    50% {
        transform: translateY(-25vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes projectAnim {
    50% {
        transform: translateX(-80vh);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* ############################################################################## */
/* ###############             Menu Mobile + Navbar               ############### */
/* ############################################################################## */

.cross {
    color: var(--fontLight);
}

.menu_overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    color: var(--fontLight);
    background: var(--bgLight);
    z-index: 100;
    transform: translateX(110%);
    transition: transform 0.7s ease;
}

.cross:hover {
    transform: scale(1.1) rotate(360deg);
}

.menu_overlay ul {
    height: 70%;
    width: 100%;
    margin-top: 15%;
    list-style: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.overlayLink {
    color: var(--fontLight);
    background: 
        linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.overlayLink:hover {
    background-size: 0 0.1em, 100% 0.1em;
}

.logoOverlay {
    position: absolute;
    left: 20px;
    top: 30px;
}

.logoOverlay img {
    width: 35px;
    height: 35px;
}

.logoOverlay .logoOverlayLight {
    display: none;
}

/* ############################################################################## */
/* ###############                 Landing Page                   ############### */
/* ############################################################################## */

#container {
    width: 100vw;
    max-width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.logoWhite img {
    position: fixed;
    z-index: 2;
    left: 20px;
    top: 30px;
    width: 35px;
    height: 35px;
}

.menu {
    animation: navAnim 2s ease;
}

.logoWhite .logoLandingPageLight {
    display: none;
}

.cross, .menuIcon {
    position: fixed;
    z-index: 2;
    right: 20px;
    top: 35px;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.menuIcon {
    color: var(--fontDark);
    animation: navAnim 2s ease;
}

.menuIcon:hover {
    transform: scale(1.1) rotate(360deg);
}

a {
    color: inherit;
    text-decoration: none;
}

#menuBtn {
    display: none;
}

#menuBtn:checked ~ .menu_overlay {
    transform: translateX(0);
}

.landing_page {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* ############################################################################## */
/* ###############                Projets + Mobile                ############### */
/* ############################################################################## */

#projectsDesktop {
    display: none;
}

.mobileProject {
    margin-left: 5%;
}

#projects {
    z-index: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0 2rem 0;
}

#projects h2 {
    animation: titleAnim 1s linear;
    margin-bottom: 1rem;
}

.project1,
.project2,
.project3,
.project4 {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 2rem 0;
}

.project1 {
    background-image: url("../img/bourseResponsive.png");
}

.project2 {
    background-image: url("../img/cardCollection.png");
}

.project3 {
    background-color: black;
}

.project4 {
    background-color: black;
}

.project1Desk,
.project2Desk,
.project3Desk,
.project4Desk {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 2rem 0;
    opacity: 0;
    animation: projectAnim 1s ease-out forwards;
}

.project1Desk {
    background-image: url("../img/bourseResponsive.png");
}

.project2Desk {
    background-image: url("../img/cardCollection.png");
}

.project3Desk {
    background-color: black;
}

.project4Desk {
    background-color: black;
}

.viewMore {
    position: absolute;
    bottom: -15px;
    left: 20px;
    background-color: var(--bgLight);
    color: var(--fontLight);
    padding: 0.5rem 1rem;
    font-weight: bold;
}

/* ############################################################################## */
/* ###############                Section A Propos                ############### */
/* ############################################################################## */

#about {
    margin-top: 2.5rem;
}

#about p {
    animation: titleAnim 1.5s ease-in;
}

#about h2:first-child {
    margin-bottom: 1.5rem;
}

.name {
    font-size: 2.2rem;
}

.laManu {
    font-weight: bold;
    background: 
        linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        linear-gradient(to right, var(--fontDark), var(--fontDark), var(--fontDark));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.laManu:hover {
    background-size: 0 0.1em, 100% 0.1em;
}

.animTitle {
    font-size: 1.8rem;
    margin: 1rem 0 0 1rem;
}

/* ############################################################################## */
/* ###############               Section Compétences              ############### */
/* ############################################################################## */

#skills {
    opacity: 0;
}

#skills p {
    margin: 1.5rem 2rem 0 1rem;
}

/* ############################################################################## */
/* ###############                 Section Outils                 ############### */
/* ############################################################################## */

 #tools {
    opacity: 0;
 }
 
.toolsIconBox {
    margin: 2rem 2rem;
    display: flex;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

.toolsIcon {
    margin-top: 1.5rem;
}

.mysqlDark {
    height: 60px;
    width: 100px;
    margin: 20px 0 0 -20px;
}

.mysqlLight {
    height: 60px;
    width: 100px;
    margin: 20px 0 0 -20px;
    display: none;
}


/* ############################################################################## */
/* ###############                     Footer                     ############### */
/* ############################################################################## */

.footer {
    height: 30vh;
    margin: 0;
}

footer hr {
    width: 80%;
    margin-top: 2rem;
}

.footerIcon {
    margin: 0 2rem 2rem 2rem;
}

footer a {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

/* ############################################################################## */
/* ###############                  Scroll Snap                   ############### */
/* ############################################################################## */

/* .landing_page {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    scroll-snap-align: start;
    height: 100vh;
} */



/* *::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #e1dfdb1a;
    border-radius: 20px;
} */

/* ############################################################################## */
/* ###############            Toggle mode Dark/Light              ############### */
/* ############################################################################## */

.darkLightToggle {
    position: fixed;
    z-index: 4;
    right: 1rem;
    bottom: 2rem;
    animation: toggleAnim 2.5s ease;
}

.checkbox {
    display: none;
}

.label {
    height: 54px;
    width: 30px;
    background-color: var(--bgLight);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 10px;
}

.iconLightMode:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.label .ball {
    background-color: var(--bgDark);
    border-radius: 50%;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 2px;
    left: 2px;
    transform: translateY(0px);
    transition: transform 0.4s ease;
}

.checkbox:checked + .label .ball {
    transform: translateY(24px);
    background-color: var(--bgLight);
}

.checkbox:checked + .label {
    background-color: var(--bgDark);
}

.fa-moon {
    color:var(--bgDark);
}

.fa-sun {
    color: var(--bgLight);
}

/* ############################################################################## */
/* ###############               Animation au scroll              ############### */
/* ############################################################################## */

.animationOnScroll {
    animation: projectAnim 1s ease-out forwards;
}

/* ############################################################################## */
/* ###############                Style light mode                ############### */
/* ############################################################################## */

.light *::-webkit-scrollbar-thumb {
    background-color: #25272d48;
}

.light {
    background-color: var(--bgLight);
    color: var(--fontLight);
}

.light section {
    background-color: var(--bgLight);
    color: var(--fontLight);
}

.light .landing_page {
    background-color: var(--bgLight);
}

.light .menuIcon {
    color: var(--fontLight);
}

.light .overlayLink , 
.light .cross {
    color: var(--fontDark);
}

.light .overlayLink {
    background: 
        linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.light .overlayLink:hover {
    background-size: 0 0.1em, 100% 0.1em;
}

.light .logoOverlay {
    fill: var(--fontDark);
}

.light .menu_overlay {
    background-color: var(--bgDark);
}

.light .logoOverlay .logoOverlayLight {
    display: block;
}

.light .logoOverlay .logoOverlayDark {
    display: none;
}

.light .logoWhite .logoLandingPageLight {
    display: block;
}

.light .logoWhite .logoLandingPageDark {
    display: none;
}

.light .laManu {
    font-weight: bold;
    background: 
        linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        linear-gradient(to right, var(--fontLight), var(--fontLight), var(--fontLight));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.light .laManu:hover {
    background-size: 0 0.1em, 100% 0.1em;
}

.light .viewMore {
    background-color: var(--bgDark);
    color: var(--fontDark);
}

.light .mysqlDark {
    display: none;
}

.light .mysqlLight {
    display: block;
}

/* ############################################################################## */
/* ###############                  Mode Desktop                  ############### */
/* ############################################################################## */

@media screen and (min-width : 768px) {

    section {
        margin-left: 20%;
    }

    .darkLightToggle {
        right: 2rem;
    }

    .logoWhite img {
        left: 20px;
        top: 15px;
    }

    .menuIcon {
        margin-right: 40px;
        font-size: 2.5rem;
    }

    .cross {
        margin-right: 50px;
        font-size: 2.5rem;
    }

    .logoWhite img {
        height: 80px;
        width: 80px;
    }

    .menu_overlay {
        width: 100vw;
        height: 15vh;
        position: fixed;
        color: var(--fontLight);
        background: var(--bgLight);
        display: flex;
        flex-direction: row;
        z-index: 100;
        transform: translateX(110%);
        transition: transform 0.7s ease;
        margin-top: 0;
    }

    .menu_overlay ul {
        height: 70%;
        width: 100%;
        margin-top: 0;
        list-style: none;
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 2.5rem 6rem 0 6rem;
    }

    .menu_overlay ul li a {
        font-size: 1.5rem;
        display: flex;
        align-items: flex-start;
    }

    .logoOverlay {
        top: 15px;
    }

    .logoOverlay img {
        width: 80px;
        height: 80px;
    }

    .mobileProjects {
        margin-left: 25%;
    }

    #projects {
        align-items: flex-start;
    }

    .project1,
    .project2 {
        height: 50vh;
        width: 70%;
        margin: 2rem 0 0 1rem;
        opacity: 0;
    }

    .project1Desk,
    .project2Desk,
    .project3Desk,
    .project4Desk {
        height: 50vh;
        width: 60%;
        margin: 2rem 0 2rem 1rem;
    }

    #projectsDesktop {
        z-index: 1;
        height: auto;
        display: block;
        padding-top: 20vh;
    }

    #projectsDesktop h2 {
        margin-top: 5vh;
        height: 10vh;
    }
    
    #projectsDesktop div {
        height: 65vh;
        width: 70%;
        margin-bottom: 10rem;
    }

    .toolsIconBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
    }

    .left, .right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    }

    .left {
        padding-top: 0;
    }

    .right {
        padding-top: 1rem;
    }

    h2 {
        font-size: 2.5rem;
        margin-left: 1rem;
    }

    .animTitle {
        margin-left: 1rem;
    }

    #skills p,
    #about p {
        font-size: 1rem;
        width: 70%;
        margin-left: 1rem;
        line-height: 3rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    .name {
        font-size: 3.5rem;
    }
    
    .animTitle {
        font-size: 2.5rem;
    }

    .toolsIconBox:first-child {
        padding-bottom: -1rem;
    }

    footer {
        justify-content: center;
    }

    footer p {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin: 2rem 0;
    }
}